---
- name: Install Docker
  apt:
    name: docker.io
    state: present
    update_cache: yes
  become: true
  delegate_to: "{{ target_host }}"

- name: Ensure Docker service is running
  service:
    name: docker
    state: started
    enabled: true
  become: true
  delegate_to: "{{ target_host }}"

- name: Create base services directory
  file:
    path: /srv/services
    state: directory
    owner: root
    group: root
    mode: '0755'
  become: yes
